.app-container {
    background-color: #FFFFFF   ;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 90%;
    transition: transform 0.3s ease;
  }
  
  .app-container:hover {
    transform: scale(1.02);
  }

  .app-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #6986FF;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #6986FF;
  }
  
  .app-container p {
    font-size: 1.1em;
    color: #9CAFFF;
  }

  .app-container p.weather-message {
    color: #9CAFFF;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
  }

  body {
    background: linear-gradient(145deg, #9CAFFF, #9CE1FF);
    transition: background 0.5s ease;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #input-city {
    margin-bottom: 20px;
  }

  #city-input {
    padding: 12px 15px 12px 40px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1163/1163624.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 2px solid #cfd8ff;
    border-radius: 8px;
    width: 70%;
    font-size: 1em;
    font-weight: 500;
    color: #9CAFFF;
    outline: none;
    transition: border-color 0.3s ease;
  }

  #city-input:focus {
    border-color: #9CAFFF;
    box-shadow: 0 0 5px rgba(156, 175, 255, 0.5);
  }

  #get-weather {
    padding: 12px 20px;
    border: none;
    background-color: #6986FF;
    color: white;
    border-radius: 50px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;

  }

  #get-weather:hover {
    background-color: #9CAFFF;
    }

    .weather-message {
      animation: fadeIn 0.5s ease-in-out;
    }

    @keyframes fadeIn {
      from {
        opacity: 0; transform: translateY(-10px);
      }
      to {
        opacity: 1; transform: translateY(0);
      }
    }

    .rain {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      pointer-events: none;
      overflow: hidden;
      z-index: -1;
    }
    
    .raindrop {
      position: absolute;
      width: 2px;
      height: 18px;
      border-radius: 1px;
      background: rgba(228, 241, 245, 0.651);
      animation: fall linear infinite;
      filter: blur(0.3px);
      opacity: 0.7;
      box-shadow: 0 0 2px rgba(173, 216, 230, 0.5);
    }
    
    @keyframes fall {
      from {
        transform: translateY(-10vh);
      }
      to {
        transform: translateY(110vh);
      }
    }